name: verify

on:
  push:
    branches:
    - main
  pull_request:

permissions:
  actions: write
  checks: write
  contents: write

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Pull latest changes
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: git pull --rebase

    - name: Set up Python
      uses: actions/setup-python@v6

    - name: Install dependencies
      run: pip3 install online-judge-verify-helper

    - name: Run tests
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        YUKICODER_TOKEN: ${{ secrets.YUKICODER_TOKEN }}
        GH_PAT: ${{ secrets.GH_PAT }}
      run: oj-verify all -I /home/runner/work/library/library/include
